---
import IconLock from "@/assets/icons/icon_lock.svg";
import { Urls } from "@/constants/meta";
import Link from "@/elements/Link.astro";
import Text from "@/elements/Text.astro";
import ImageItem01 from "./_images/projects_item-01.png";
import ImageItem02 from "./_images/projects_item-02.png";
import ImageItem03 from "./_images/projects_item-03.png";
import ImageItem04 from "./_images/projects_item-04.png";
import ImageItem05 from "./_images/projects_item-05.png";

const items = [
  { title: "Soelu Studio", label: "Web development", id: "soelu-studio", image: ImageItem01 },
  { title: "Promotional Landing Page", label: "Web design", image: ImageItem02 },
  { title: "Corporate Website", label: "Web design", image: ImageItem03 },
  { title: "CMS Development", label: "Web development", image: ImageItem04 },
  { title: "Design-to-Code Web App", label: "UI / UX design", image: ImageItem05 },
];
---

<section class="container">
  <div class="inner">
    <h2 class="title js-animateTypeRoot-projects js-animateType">Projects</h2>

    <ul class="list">
      {
        items.map((item) => {
          const title = (
            <div class="list-title">
              <Text color="primary" weight="bold" height="thin" transform="uppercase">
                {item.title}
              </Text>

              <Text size="xsmall" height="thin" transform="capitalize">
                {item.label}
              </Text>
            </div>
          );

          const content = item.id ? <Link url={`${Urls.PROJECT_LIST}/${item.id}`}>{title}</Link> : title;

          return (
            <li
              class={`list-item ${item.id ? "" : "list-item-locked"} js-animateFadeUpRoot-projects js-animateFadeUp`}
              style={`background-image:url(${item.image?.src ?? "none"});--icon-lock:url(${IconLock.src});`}
            >
              {content}
            </li>
          );
        })
      }
    </ul>
  </div>
</section>

<style lang="scss">
  @use "@/styles/tokens" as *;
  @use "@/styles/utilities" as *;

  .container {
    @include container;
  }

  .inner {
    @include inner;

    position: relative;
  }

  .title {
    @include title(primary, xxxlarge, bold, uppercase);

    text-align: center;

    @include up(xlarge) {
      @include title(primary, xlarge, bold, uppercase);

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .list {
    display: grid;
    gap: sp(normal);
    margin-top: sp(large);

    @include up(xlarge) {
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: repeat(12, 1fr);
      gap: sp(medium);
      height: 780px;
      margin-top: 0;
    }

    &-item {
      @include box;

      position: relative;
      align-items: center;
      justify-content: center;
      aspect-ratio: 16 / 9;
      overflow: hidden;
      background-color: t(canvas, white);
      background-image: none;
      background-position: center;
      background-size: cover;
      border-radius: rd(normal);
      backdrop-filter: bl(normal);

      &::before {
        position: absolute;
        inset: 0;
        z-index: 0;
        content: "";
        background-image: inherit;
        background-position: center;
        background-size: cover;
        transform: scale(1);
        transition: transform 0.4s ease;
      }

      &:hover::before {
        transform: scale(1.05);
      }

      @include up(xlarge) {
        aspect-ratio: unset;

        &:nth-child(1) {
          grid-row: span 2 / span 2;
          grid-row-start: 4;
          grid-column: span 8 / span 8;
          grid-column-start: 5;
          order: 5;
        }

        &:nth-child(2) {
          grid-row: span 2 / span 2;
          grid-column: span 4 / span 4;
          order: 1;
        }

        &:nth-child(3) {
          grid-row: span 2 / span 2;
          grid-column: span 4 / span 4;
          grid-column-start: 5;
          order: 2;
        }

        &:nth-child(4) {
          grid-row: span 3 / span 3;
          grid-column: span 4 / span 4;
          grid-column-start: 9;
          order: 3;
        }

        &:nth-child(5) {
          grid-row: span 3 / span 3;
          grid-row-start: 3;
          grid-column: span 4 / span 4;
          order: 4;
        }
      }

      &-locked {
        &::before {
          position: absolute;
          width: 100%;
          height: 100%;
          content: "";
          background: t(canvas, transparent);
          backdrop-filter: bl(strong);
        }

        &::after {
          @include title(primary, normal, bold, uppercase);

          z-index: ly(overlay);
          width: 48px;
          height: 48px;
          margin-bottom: sp(normal);
          color: t(text, primary);
          content: "";
          background-color: t(text, primary);
          mask-image: var(--icon-lock);
          mask-repeat: no-repeat;
          mask-position: top center;
          mask-size: 48px;
        }
      }
    }

    &-title {
      @include box(xsmall);

      position: absolute;
      bottom: 0;
      left: 0;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      padding: sp(normal);
      content: "";
      background: linear-gradient(#0000 70%, #000 100%);
    }
  }
</style>

<script>
  import { initAnimation } from "@/scripts/initAnimation";
  import { scrollFadeUp, scrollType } from "@/scripts/scrollAnimations";

  initAnimation({
    mode: "scroll",
    root: ".js-animateTypeRoot-projects",
    start: "top 80%",
    buildTimeline: ({ master }) => {
      const tlType = scrollType(".js-animateTypeRoot-projects", { cps: 20 });
      if (tlType) master.add(tlType, 0);
    },
  });

  initAnimation({
    mode: "scroll",
    root: ".js-animateFadeUpRoot-projects",
    start: "top 70%",
    buildTimeline: ({ rootEl, master }) => {
      const tlFadeUp = scrollFadeUp(rootEl);
      if (tlFadeUp) master.add(tlFadeUp, 0);
    },
  });
</script>
