---
import Description from "@components/projects/Description.astro";
import Flow from "@components/projects/Flow.astro";
import Meta from "@components/projects/Meta.astro";
import Requirement from "@components/projects/Requirement.astro";
import Solution from "@components/projects/Solution.astro";
import Stack from "@components/projects/Stack.astro";
import Thumbnail from "@components/projects/Thumbnail.astro";
import Title from "@components/projects/Title.astro";
import { Urls } from "@constants/meta";
import Text from "@elements/Text.astro";
import FoundationLayout from "./common/foundationLayout.astro";

const { title, label, thumbnail, description, meta, stacks, flows, requirements, solutions } = Astro.props as {
  title: string;
  label: string;
  thumbnail: string;
  description: string;
  meta: { title: string; description: string }[];
  stacks: string[];
  flows: { title: string; description: string }[];
  requirements: string[];
  solutions: { title: string; description: string }[];
};
---

<FoundationLayout title={title}>
  <nav class="nav">
    <a href={Urls.PROJECTS}>
      <Text tag="span" color="primary" transform="capitalize">View all projects</Text>
    </a>
  </nav>

  <article class="article">
    <div class="info">
      <div>
        <Title title={title} label={label} />
        <Thumbnail src={thumbnail} />
      </div>

      <Description text={description} />
      <Meta items={meta} />
      <Stack items={stacks} />
      <Flow items={flows} />
    </div>

    <Requirement items={requirements} />
    <Solution items={solutions} />
  </article>
</FoundationLayout>

<style lang="scss">
  @use "@styles/common/variables" as *;
  @use "@styles/common/mixins" as *;

  .nav {
    @include container;
  }

  .article {
    display: flex;
    flex-direction: column;
    gap: $space-xxx-large;
    margin-top: $space-x-large;

    @include for-screen-large {
      gap: $space-xxxxx-large;
      margin-top: $space-xx-large;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: $space-x-large;

    @include for-screen-large {
      gap: $space-xxx-large;
    }
  }
</style>
